html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-color: #333333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 10px 20px;
}

.title {
    margin: 0;
    font-size: 48px;
    color: #fff;
    text-align: center;
}


.player-name {
    font-size: 64px;
    user-select: none;
}

.player {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    transition: opacity 0.5s linear;
    transition-delay: 0.2s;
}

footer {
    text-align: center;
    background-color: #333333;
    padding: 12px 0;
    color: #ffffff;
    font-size: 24px;
    margin-top: auto;
    flex-shrink: 0;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}