body {
    background-color: #141414;
    font-family: Poppins;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    overflow: hidden;
    height: 100vh;
    }

.topnav {
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    border-radius: 10px;
    }
  
.topnav a {
    float: left;
    color: #aaaaaa;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 32px;
    border-radius: 5px;
    margin: 5px;
    transition-duration: 0.4s;
    }
    
.topnav a.active {
        color: #aaaaaa;
        background-color: rgba(75, 75, 75, 0.15);
    }

.topnav a:hover {
    color: #ffffff;
    background-color: rgba(75, 75, 75, 0.25);
    }
  
.topnav-title {
    text-align: right;
    color: #cccccc;
    padding-right: 2%;
    font-size: 16px;
    }

.buttons button {
    background-color: #10101080; /* Green background */
    color: #aaaaaa; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 75%; /* Set a width if needed */
    left: 50%;
    height: 200px;
    border: 3px solid #09090980;
    position: relative;
    transform: translate(-50%, 0%);
    border-radius: 16px;
    font-size: 32px;
    transition-duration: 0.4s;
}

/* Add a background color on hover */
.buttons button:hover {
    background-color: #50505050;
}